# Terraform state
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfplan

# Local vars (will contain secrets)
**/terraform.tfvars
**/*.auto.tfvars

terraform/*.zip
*.zip
*.qcow2
*.img
*.iso

