os_auth_url     = "http://192.168.2.50:5000/v3"
os_username     = "admin"
os_password     = "CHANGE_ME"
os_project_name = "admin"
os_region       = "RegionOne"
os_domain_name  = "Default"

ssh_public_key  = "ssh-rsa AAAA.... yourkey"

# If your external network has a different name:
external_network_name = "external_network"

# Optional overrides
# private_cidr = "10.10.0.0/24"
# vm_count     = 2

